
#login{
    margin-top: 7%;
    background-color: rgb(238, 230, 230);
    border-radius: 5%;
    border: white 8px inset;
    padding: 9px 8px 8px 9px;
}

.backgr{
    background-image: url('https://zemper.com/coatzem/uploads/2016/10/fondo-blanco.jpg');
    background-size: 100% 100%;
    
}

.btn-estudiante{
   padding-bottom: 4%;
}